---
import { Icon } from "astro-icon/components";
import { version } from "../../package.json";

interface SocialLinkItem {
    icon: string;
    url: string;
    label: string;
}

const socialLinks: SocialLinkItem[] = [
    {
        icon: "tabler:brand-github",
        url: "https://github.com/WoofZJ",
        label: "GitHub",
    },
];

const buildTime = new Date().toLocaleString("zh-CN", {
    year: "numeric",
    month: "2-digit",
    day: "2-digit",
    hour: "2-digit",
    minute: "2-digit",
    second: "2-digit",
});
---

<div class="h-6 bg-statusbar-bg flex items-center text-statusbar-text text-sm">
    <a
        href="/timeline"
        class="bg-statusbar-highlight hover:bg-statusbar-hover px-2 flex items-center"
    >
        <Icon name="tabler:git-fork" size="16" />
        v{version} (built at {buildTime})
    </a>
    <span class="px-2"> © 2025 WoofZJ. All rights reserved. </span>
    <div class="ml-auto flex flex-row items-stretch self-stretch">
        {
            socialLinks.map((link) => (
                <a
                    href={link.url}
                    class="hover:bg-statusbar-hover px-1 h-full flex items-center"
                    title={link.label}
                >
                    <Icon name={link.icon} size="16" />
                </a>
            ))
        }
    </div>
    <a class="px-2 hover:bg-statusbar-hover">
        <span>Site view: --</span>
        <span>(today: --)</span>
    </a>
    <a class="px-2 hover:bg-statusbar-hover">
        <span>Visitor: --</span>
        <span>(today: --)</span>
    </a>
</div>
