---
import { Icon } from "astro-icon/components";
import { version } from "../../package.json";

interface SocialLinkItem {
    icon: string;
    url: string;
    label: string;
}

const socialLinks: SocialLinkItem[] = [
    {
        icon: "tabler:brand-github",
        url: "https://github.com/WoofZJ",
        label: "GitHub",
    },
];

const buildTime = new Date().toLocaleString("zh-CN", {
    year: "numeric",
    month: "2-digit",
    day: "2-digit",
    hour: "2-digit",
    minute: "2-digit",
    second: "2-digit",
});
---

<div
    class="h-6 bg-statusbar-bg flex items-center text-statusbar-text text-sm shrink-0"
>
    <a
        href="/timeline"
        class="bg-statusbar-highlight hover:bg-statusbar-hover px-2 flex items-center"
    >
        <Icon name="tabler:git-fork" size="16" />
        v{version}
        <span class="hidden lg:block">
            (built at {buildTime})
        </span>
    </a>
    <span class="px-2"> © 2025 WoofZJ.</span>
    <span class="hidden lg:block">All rights reserved. </span>
    <div class="ml-auto flex flex-row items-stretch self-stretch">
        {
            socialLinks.map((link) => (
                <a
                    href={link.url}
                    class="hover:bg-statusbar-hover px-1 h-full flex items-center"
                    title={link.label}
                >
                    <Icon name={link.icon} size="16" />
                </a>
            ))
        }
    </div>
    <a class="flex items-center gap-1 px-1 hover:bg-statusbar-hover">
        <Icon name="tabler:eye" size="16" />
        <span class="font-semibold">123k</span>
    </a>
    <a class="flex items-center gap-1 px-1 hover:bg-statusbar-hover">
        <Icon name="tabler:man" size="16" />
        <span class="font-semibold">123k</span>
    </a>
</div>
