---
import "../styles/global.css";
import TitleBar from "../components/TitleBar.astro";
import IconBar from "../components/IconBar.astro";
import StatusBar from "../components/StatusBar.astro";

interface Props {
    title?: string;
    route?: string;
    header?: string;
}

const { title = "首页", route = "/", header = "首页" } = Astro.props as Props;
---

<html lang="en" class="quiet-light">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/png" href="/favicon.png" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{title} | CodeArt.Online</title>
    </head>
    <body class="h-dvh py-4">
        <div
            class="container mx-auto rounded-xl h-full shadow-lg flex flex-col overflow-clip bg-editor-bg"
        >
            <TitleBar title={title} />
            <div class="grow flex items-stretch">
                <IconBar route={route} />
                <div class="w-xs bg-sidebar-bg flex flex-col items-stretch">
                    <div class="h-8 flex items-center px-2">
                        <span class="font-semibold">{header}</span>
                    </div>
                    <slot name="sidebar" />
                </div>
            </div>
            <StatusBar />
        </div>
    </body>
</html>

